/*
--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

- Font weights

- Line heights

- Letter spacing

--- 02 COLORS

- Primary: #17a2b8
- Dark: #343a40
- Light: #f4f4f4 #343A40
- Danger: #dc3545
- Succes: #28a745

--- 05 SHADOWS

--- 06 BORDER-RADIUS

*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Raleway', sans-serif;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-size: 16px;
    line-height: 1;
    color: #333;
    font-weight: 400;
}

a {
    text-decoration: none !important;
}

ul {
    list-style: none !important;
}


/* ************************************* */
/* HELPER CLASS */
/* ************************************* */

/* layout */

.container {
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 4.8rem;
}

.grid {
    display: grid;
}


/* typography */

.heading-primary {
    font-size: 6.4rem;
    font-weight: 600;
    line-height: 1.2;
}

.heading-secondary {
    font-size: 4.8rem;
    font-weight: 600;
    line-height: 1.2;
}

.heading-tertiary {
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 1.2;
}

.body-text {
    font-size: 1.6rem;
    line-height: 1.6;
    font-weight: 400;
}

.text-white {
    color: white;
}

.text-primary {
    color: #17a2b8;
}

.bg-grey {
    background-color: #f4f4f4;
}

.bg-primary {
    background-color: #17a2b8;
}

.bold-600 {
    font-weight: 600;
}

small {
    display: block;
    font-size: 1.2rem;
}

span {
    font-weight: 600;
}

.mt-16 {
    margin-top: 1.6rem;
}







/* ************************************* */
/* COMPONENTS */
/* ************************************* */

/* Header */

.nav {
    display: flex;
    justify-content: space-between;
    background-color: #343a40;
    align-items: center;
    padding: 1.9rem 4.8rem;
    border-bottom: 2px solid #17a2b8;
    opacity: 0.9;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.nav__item {
    display: flex;
    gap: 2.4rem;
}

.header__logo-text:link, .header__logo-text:visited {
    font-size: 2.4rem;
    font-weight: 700;
    transition: all 0.2s;
}

.nav__list:link, .nav__link:visited {
    font-size: 1.6rem;
    transition: all 0.3s;
}

.nav__list:hover, .nav__list:active, .header__logo-text:hover, .header__logo-text:active {
    color: #17a2b8;
}

.nav__post {
    display: flex;
}

.nav__post .nav__list:first-child {
    border-right: 2px solid white;
    padding-right: 1.6rem;
}

.nav__post .nav__list:last-child {
    padding-left: 1.6rem;
}


/* Button */

.btn:link, .btn:visited {
    color: white;
    font-size: 1.6rem;
    display: inline-block;
    padding: 1.1rem 2.1rem;
    margin-right: 0.8rem;
    transition: all 0.3s;
    align-self: start;
}

.btn:hover, .btn:active {
    opacity: 0.8;
}

.btn--primary:link, .btn--primary:visited {
    background-color: #17a2b8;
}

.btn--secondary:link, .btn--secondary:visited {
    background-color: #f4f4f4;
    color: #555;
}

.btn--tertiary:link, .btn--tertiary:visited {
    background-color: #343A40;
    color: #fff;
}

.btn--danger:link, .btn--danger:visited {
    background-color: #dc3545;
    color: #fff;
}

/* Input */

.input {
    border: 1px solid #ccc;
    padding: 0.8rem;
    font-size: 1.6rem;
}