
/* ************************************* */
/* Sign Up */
/* ************************************* */

.section-signup {
    background-color: #fff;
    width: 100%;
    height: 100vh;
    padding: 9.6rem 0;
}

.signup-container {
    display: flex;
    flex-direction: column;
}

.signup__form {
    margin-top: 2.4rem;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

.signup-container .btn {
  margin-top: 0;
}

form small {
    margin-top: -1.6rem;
}
