
/* ************************************* */
/* Log in */
/* ************************************* */

.section-login {
    background-color: #fff;
    width: 100%;
    height: 100vh;
    padding: 11.8rem 0;
}

.login-container {
    display: flex;
    flex-direction: column;
}

.login__form {
    margin-top: 2.4rem;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

.login-container .btn {
  margin-top: 0;
}

.login__invalid {
    background-color: #dc3545;
    padding: 1.6rem;
    margin-bottom: 1.6rem;
}


