
/* ************************************* */
/* Add Exp */
/* ************************************* */

.section-addexp {
    background-color: #fff;
    width: 100%;
    padding: 9.6rem;
}

.addexp-container {
    display: flex;
    flex-direction: column;
}

.addexp__form {
    margin-top: 2.4rem;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

.addexp-container small {
    margin-top: 3.2rem;
}

.addexp__date {
    display: flex;
    flex-direction: column;
}


