
/* ************************************* */
/* Dashboard */
/* ************************************* */

.section-dashboard {
    background-color: #fff;
    width: 100%;
    padding: 9.6rem 0;
}

.dashboard-container {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
}


thead {
    background-color: #f4f4f4;
    font-weight: 700;
}

td {
    padding: 1.6rem;
}